name: TASK 7 CD

on:
  push:
    branches:
      - master

jobs:
  nodejs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./nodejs

    steps:
      - uses: actions/checkout@v3

      - name: Deployment
        run: |
          scp -o StrictHostKeyChecking=no . -p ${{ secrets.SSH_PORT }} ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/hello-world/
      - name: Restart server
        run: |
          ssh -o StrictHostKeyChecking=no

  python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./python
