name: TASK 7 CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  nodejs:
    runs-on: ubuntu-latest
    container:
      image: node:16
    defaults:
      run:
        working-directory: ./nodejs

    steps:
      - uses: actions/checkout@v3
        with:
          node_version: 16
      - name: Installing dependencies!
        run: npm install
      - name: Test unit tests!
        run: npm test

  python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./python

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          python_version: 3.11
      - name: Installing dependencies!
        run: pip install --upgrade pip && pip install -r requirements.txt
